<section id="projects">
<div class="container">
  <h3>Public Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
                <h5>
                        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/oaeproject">Apereo OAE</a></strong>
                        - A global network for academic collaboration, OAE is fully open and created and backed by universities. I chaired the
			Technical Review Board in 2012, was a member of the Product Council and wrote an 
			<a href="https://www.amazon.com/Sakai-OAE-Deployment-Management-Collaboration-dp-1449318762/dp/1449318762">
			O'Reilly book</a> on OAE management and customization. I remain so proud of my team and the success of 
			this cross-university collaboration in building open source software to satisfy our own teaching and research needs. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/openreferral">Open Referral Human 
			Services Data Specification</a></strong>
			- The Human Services Data Specification (HSDS) is Open Referral's core data exchange format. HSDS is designed to support 
			the publication of open, interoperable community resource directory data. I documented the underlying 
			<a href="https://openreferral.readthedocs.io/en/latest/hsds/logical_model/">logical model</a> implied 
			by the API, clarifying and assisting in the resolution of ambiguities therein.
		</h5>
                <h5>
                        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nycresistor/NYCR2000">NYC Resistor 2000</a></strong>
                        - NYCR2000 is a text adventure game (with limited quantities of adventure, but lots of exploration) based on the physical
			space occupied by <a href="https://nycresistor.com">NYC Resistor</a> circa 2017. Resistor is a hacker collective in downtown
			Brooklyn which meets regularly to share knowledge, hack on projects together, and build community. 
		</h5>
                <h5>
                        <i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="https://www.cryptoparty.in/">Crypto Party</a></strong>
                        - CryptoParty is a decentralized movement with events happening all over the world. The goal is to pass on knowledge 
			about protecting yourself in the digital space. I frequently present or facilitate at local Crypto Party events, and 
			sometimes even at Verso Books, UnionDocs and Harvard's Kennedy School.
                </h5>
		<h5>
                        <i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="https://blackgirlscode.com/">Black Girls Code</a></strong>
                        - Sometimes I get to teach kids to code at Black Girls Code. We've done a web page in a day, a
			weekend mobile phone app, a Sphero robot maze follower. You can <a href="http://www.blackgirlscode.com/donations.html">
			donate</a> to BGC, buy some <a href="https://blackgirlscode.bigcartel.com/">swag</a> or sign up to 
			<a href="http://www.blackgirlscode.com/volunteer-signup.html">volunteer</a>.  
                </h5>
    </div>
  </div>
</div>
</section>
